@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

html,
body {
  font-family: "Gotu", arial, sans-serif;
  font-weight: 400;
  height: 100vh;
}

body {
  background-color: #fcfcfc;
  padding: 0.5em;
}

.animate-opacity {
  transition: opacity 0.8s ease-in-out;
}

.search-bar::placeholder {
  padding-left: 24px;
}

.search-bar:focus::placeholder {
  color: transparent;
}

.spinner {
  border-radius: 100%;
  border: 12px solid aquamarine;
  animation: 1s linear 0s infinite alternate spin;
  padding: 2em;

  position: absolute;
  top: 50%;
}

@keyframes spin {
  from {
    transform: scale(2.5);
    border-color: aquamarine;
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    border-color: blueviolet;
    opacity: 1;
  }
}

@import "~tachyons/css/tachyons.min.css";
@import "~normalize.css";
