@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

html,
body {
  font-family: "Gotu", arial, sans-serif;
  font-weight: 400;
  height: 100vh;
}

body {
  background-color: #f7f9fb;
  padding: 0.5em;
}

@import "~tachyons/css/tachyons.min.css";
@import "~normalize.css";
