@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

html,
body {
  font-family: "Gotu", arial, sans-serif;
  font-weight: 400;
  height: 100vh;
}

body {
  background-color: #fcfcfc;
  padding: 0.5em;
}

.animate-opacity {
  transition: opacity 0.8s ease-in-out;
}

.search-bar::placeholder {
  padding-left: 24px;
}

.search-bar:focus::placeholder {
  color: transparent;
}

@import "~tachyons/css/tachyons.min.css";
@import "~normalize.css";
